[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
pytz = "*"
django-prettyjson = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-admin-argon-dashboard = "*"
pyyaml = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
