{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Specifications</title>
    <link rel="stylesheet" href="{% static '/css/swagger-ui.css' %}" />
</head>

<body>
    <div id="specifications">
        {% for specification in specifications %}
            <p><a href="/openapi/docs/{{specification.id}}" target="_blank">{{specification.title}} ({{specification.id}})</a></p>
        {% endfor %}
    </div>
</body>

</html>