{% extends 'base.html' %}
{% load static %}
{% block end_style %}
<link rel="stylesheet" href="{% static '/css/swagger-ui.css' %}" />
{% endblock %}
{% block aside %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 py-2">
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-sm btn-secondary text-white" id="save-spec" data-id="">Save</button>
                </div>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm cursor-pointer" name="language" id="language">
                        <option value="json">JSON</option>
                        <option value="yaml">YAML</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-5 p-2">
                        <div id="json-editor" style="height: calc(100vh - 160px);"></div>
                    </div>
                    <div class="col-md-7" style="height: calc(100vh - 160px); overflow-y: scroll;">
                        <div id="swagger-ui">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block end_script %}
<script src="{% static '/js/swagger-ui-bundle.js' %}" crossorigin></script>
{% include 'partials/monaco-editor.html' %}
<script>
    function generateSpec(spec = {}) {
        window.ui = SwaggerUIBundle({
            dom_id: '#swagger-ui',
            url: "{{spec_url}}",
            spec: spec
        });
    }
    window.onload = () => {
        let editor = monacoEditor();
        let saveSpecButton = document.querySelector("#save-spec");
        let changeLanguage = document.querySelector("#language");
        fetch("{{spec_url}}").then(response => response.json()).then(data => {
            generateSpec(data[0]?.specification)
            editor.getModel().setValue(JSON.stringify(data[0]?.specification, null, 4));
            if (saveSpecButton) {
                saveSpecButton.dataset.id = data[0]?.id;
            }
        })

        if (saveSpecButton) {
            saveSpecButton.addEventListener("click", function (element) {
                element.target.setAttribute("disabled", true);
                element.target.innerHTML = "<i class='fa fa-spin fa-spinner text-white'></i>";
                let formData = new FormData();
                formData.append("id", saveSpecButton.dataset.id);
                formData.append("specification", editor.getValue());
                formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
                fetch("{% url 'doc_edit' %}", {
                    method: "POST",
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    element.target.removeAttribute("disabled");
                    element.target.innerText = "Save";
                    toastr.success('Specification Updated')
                })
                .catch(err => {
                    console.log(err);
                })
            })
        }
        
        editor.onDidChangeModelContent(function (e) {
            generateSpec(JSON.parse(editor.getValue()))
        });

        if (changeLanguage) {
            changeLanguage.addEventListener('change', function(event) {
                monaco.editor.setModelLanguage(editor.getModel(), event.target.value)
            })
        }
    }
</script>
{% endblock %}